{% extends 'base.html' %}
{% load socialaccount %}
<html>
  <head>
    <title>Twitter Clone</title>
  </head>
  <body>
    {% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Welcome {{user.username}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_tweets' %}">My Tweets</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for user in users %}
              <a class="dropdown-item" href="{% url 'user_tweets' user.username %}">{{ user }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <a class="btn btn-info" href="{% url 'account_logout' %}">Log out</a>
      </div>
    </nav>
    <main>
      <div class="container-fluid">
        {% for tweet in all_tweets %}
        <div class="card">
          <div class="mx-2 my-2 card-body">
            <h5 class="card-title">{{tweet.username}}</h5>
            <h6>{{ tweet.content }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% for tag in tweet.tags %}
            <span class="hashtag">#{{ tag }}&nbsp;</span>
            {% endfor %}
            </h6>
            <span>posted: {{tweet.posted_at}}</span>
            <span>edited: {{tweet.last_edited_at}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    {% else %}
    <div class="container-fluid mt-4">
      <p></p><a href="{% url 'sign_up' %}">Sign Up</a></p>
      <p><a href="{% url 'account_login' %}">Log In </a></p>
      <p><a href="{% provider_login_url 'google' %}">Log In with Google</a></p>
    </div>
    {% endif %}
    {% endblock %}
  </body>
</html>