{% extends 'base.html' %}
{% load socialaccount %}
<html>
  <head>
    <title>Twitter Clone</title>
  </head>
  <body>
    {% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Welcome {{user.username}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'my_tweets' %}">My Tweets</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for user in users %}
                <a class="dropdown-item" href="{% url 'user_tweets' user.username %}">{{ user }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
        <a href="{% url 'account_logout' %}">Log out</a>
      </div>
    </nav>
    <main>
      <div class="container-fluid">
        <div class="card mt-2">
          <br>
          <h5>Post new tweet</h5>
          <form method="post" action="{% url 'create_tweet' %}">
            {% csrf_token %}
            <textarea rows="3" cols="50" name="message"></textarea>
            <textarea rows="1" cols="50" name="tag" placeholder="Add tags seperated by spaces"></textarea>
            <input type="submit">
          </form>
        </div>
        {% for tweet in my_tweets %}
        <div class="card mt-2">
          <div class="mx-2 my-2">
            <p>{{ tweet.message }}</p>
            <p>Posted by {{tweet.user.username}}</p>
            <p>Posted at {{tweet.posted}}</p>
            <p>Last edited at {{tweet.last_edited}}</p>
            <form method="post" action="{% url 'remove_tweet' %}">
              {% csrf_token %}
              <input type="hidden" value="{{tweet.id}}" name="tweet_id">
              <button type="submit" class="btn btn-primary">Delete tweet</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    {% else %}
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="card offset-4 col-md-4">
          <p class="mt-2"><a href="{% url 'sign_up' %}">Sign Up</a></p>
          <p><a href="{% url 'account_login' %}">Log In </a></p>
          <p><a href="{% provider_login_url 'google' %}">Log In with Google</a></p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock %}
  </body>
</html>